@import "tailwindcss";



@theme {
  --color-dark: #080a0c;
  --color-heart: #ff1e5d;
  --color-light: #cce6ff;
  --color-primary: #77bbff;
  --color-white: #ffffff;
  --color-grey1: #bdbdbd;
  --color-grey2: #797979;
  --color-grey3: #292929;
  --color-grey4: #000000;
}
